/* @import url(''); */

body {
  background: white !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
  box-shadow: none;
  transition: color 0.4s;
}

img {
  height: 100%;
  width: 100%;
}

.home {
  background: white;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
