@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Homemade+Apple|Zeyada');

a {
    color: black;
    text-decoration: none;
    box-shadow: none;
    transition: color .4s;
}

a:hover {
    color: gray;
}

img {
    max-width: 100%;
}

.home {
    display: flex;
    height: 100vh;
    font-family: 'Playfair Display', Georgia, Serif;
    overflow-x: hidden;
}

.content {
    padding: 1rem;
    overflow-y: auto;
    width: 100%;
}